USE [master]
GO
/****** Object:  Database [School]    Script Date: 7.2.2015 г. 19:08:24 ч. ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  User [lll]    Script Date: 7.2.2015 г. 19:08:24 ч. ******/
CREATE USER [lll] FOR LOGIN [lll] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 7.2.2015 г. 19:08:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudents] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 7.2.2015 г. 19:08:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Class 1A', 20)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Class 1B', 15)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Class 2A', 19)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Ivan Ivanov', 25, N'0888010101')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Petyr Petrov', 26, N'0888030405')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Katia Petrova', 22, N'0887232323')
USE [master]
GO
