* {
	margin: 0;
	padding: 0;
}

#wrapper, footer {
	margin: 20px auto;
	padding: 10px;
	border: 2px solid black;
	background-color: Lavender;
	width: 660px;
}

footer {
	text-align: center;
}

h1 {
	margin: 5px 0 5px 0;
	text-align: center;
	text-transform: uppercase;
	color: blue;
}

span {
	margin: 5px 0 5px 290px;
	font-weight: bolder;
	font-size: 24px;
	color: red;
}

p {
	margin: 5px 0 5px 0;
	text-align: center;
	color: red;
	font-weight: bolder;
	font-size: 20px;
}

h2 {
	margin: 10px 0 10px 20px;
}

input[type="radio"] {
	margin: 5px 5px 0 50px;
	float: left;
}

input#inp-btn {
	margin: 20px 0 20px 220px;
	padding: 5px 20px 5px 20px;
	color: white;
	background-color: blue;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 18px;
}

label {
	float: left;
}

div#result {
	width: 400px;
	overflow: hidden;
	margin-left: 160px;
	display: none;
}

div#result > div {
	width: 150px;
	float: left;
}
