div.container{
	width: 460px;
	height:370px;
	border: 1px solid black;
	font-style:italic;
	font-family:Tahoma;
	font-size: 14px;
	background-color: #FFC0CB;
}
div.header{
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
}
div.from{
	float: left;
	margin: 5px 0 0 10px;
}
div.to{
	float: left;
	margin: 5px 0 0 10px;
}
div.numbers{
	float: left;
	margin: 5px 0 5px 0;
}
input[type=button]{
	margin: 5px 0 0 0;
	padding: 0 0 0 0;
	width: 215px;
	height: 30px; 
}
#fromID, #startD, #returnD{
	width: 200px;
	height: 30px;
}
#chClass, #toID{
	width: 213px;
	height: 30px;
}
input[type=time]{
	width: 100px;
	height: 30px;
}
input[type=number]{
	width: 60px;
	height: 22px;
}