table{
	border-radius: 5px;
	border: 3px solid black;
	background: #C0C0C0;
}
input[type=button]{
	width: 40px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid black;
	color: black;
	background: #808080;
	font-size: 20px;
	font-family: calibri;
	font-weight: bold;
	text-transform: uppercase;
	margin: 2px;
}
input[name=opr]{
	width: 80px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid black;
	color: #FFFFFF;
	background: #303030;
	font-size: 20px;
	font-family: calibri;
	font-weight: bold;
	text-transform: uppercase;
	margin: 2px;
}
input[type=text]{
	height: 40px;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid black;
}

