td {font-size: 24px; font-family: arial}
td.c1 {padding-left: 70px;padding-bottom: 20px;padding-top: 20px;font-size: 50px; font-family: tahoma; font-weight: bold}
td.c2 {padding-bottom: 70px;}
td.c3 {padding-bottom: 70px;padding-left: 160px;}
td.c4 {padding-top: 5px;padding-bottom: 65px;padding-left: 45px;}
td.c5 {padding-left: 5px;}
td.c6 {padding-left: 10px;padding-top: 70px;}
td.c7 {padding-left: 5px;}
td.c8 {padding-left: 55px;padding-top: 70px;}
td.c9 {padding-left: 5px;padding-top: 70px;}
td.c10 {padding-left: 2px;padding-bottom: 1px;}
td.c10 table {}
td.c10 table td {padding-left: 15px;padding-right: 15px;padding-top: 10px;padding-bottom: 10px;font-size: 16px}
td.c11 {padding-top: 35px;padding-bottom: 35px;padding-left: 280px;font-weight: bold}
td.c12 {}